code {
	font-size: large;
}

code span.nd {
	color: rgb(254, 245, 165);
}

code span.kd {
	color: rgb(250, 200, 100);
}

code span.kt {
	color: rgb(250, 200, 100);
}

code span.kn {
	color: rgb(250, 200, 100);
}

code span.k {
	color: rgb(250, 200, 100);
}

code span.mi {
	color: rgb(140, 190, 100);
}

code span.s {
	color: rgb(140, 190, 100);
}

code span.c1 {
	color: rgb(160, 160, 160);
}
